<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Covid Image Classifier</h1>
    <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="imagefile" multiple >
        <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
    </form>
    {% if prediction %}
        <p class="text-center">Image is a {{prediction}} </p>
    {% endif %}
</body>
</html>